body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}
section{
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 310px;
}
section .top .text{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .top .text a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(51, 52, 54);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -15px;
}
section .top .logo{
    height: 180px;
    font-size: 65px;
    color: rgb(20, 89, 238);
}
section .top .logo i{
    margin-top: 20px;
}


section .middle{
    width: 95%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
section .middle .inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .middle .inputs input{
    width: 90%;
    height: 38px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgb(145, 145, 147);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 10px;
}
section .middle .inputs i{
    position: absolute;
    margin-bottom: -80px;
    margin-right: -80%;
    color: rgb(35, 35, 35);
}

section .middle .inputs button{
    opacity: .0;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 20px;
    position: absolute;
    margin-bottom: -80px;
    margin-right: -80%;
    color: rgb(35, 35, 35);
    cursor: pointer;
}
section .middle .button{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .middle .button button{
    width: 95%;
    height: 45px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: rgb(20, 89, 238);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}
section .middle .button button:hover{
    background-color: rgb(14, 71, 194);
}
section .middle a{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(21, 21, 21);
    letter-spacing: 1px;
}
section .middle a:hover{
    text-decoration: underline;
}
footer{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items:end;
}
footer .button{
    text-align: center;
    width: 90%;
}
footer .button button{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 45px;
    border-radius: 50px;
    border: none;
    border: 1px solid rgb(0, 80, 253);
    color: rgb(20, 89, 238);
    cursor: pointer;

}
footer .button .icon i{

    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
    line-height: 50px;
    color: rgb(35, 35, 35);
}